<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
<head>
    <title>Text Form</title>
    <script type="text/javascript" src="http://code.angularjs.org/1.2.25/angular.min.js"></script>
    <script type="text/javascript" src="js/modules/promise-tracker.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link rel="shortcut icon" href='@routes.Assets.at("images/favicon.png")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap.min.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
    <script src='@routes.Assets.at("bower_components/jquery/dist/jquery.min.js")'></script>
    <script src='@routes.Assets.at("bower_components/bootstrap/dist/js/bootstrap.min.js")'></script>
</head>
<body>

<div data-ng-controller="help">
    <form name="helpForm" novalidate role="form">
        <textarea name="comments" data-ng-model="comments"  rows="13" cols="25" required>Please write your status here...</textarea>
        <br/>
        <button data-ng-disabled="progress.active()" data-ng-click="submit(helpForm)" >Submit</button>
    </form>
</div>
  </body>
</html>