<html>
    <head>
        <script src="/bower_components/angular/angular.js" type="text/javascript" ></script>
        <link rel="stylesheet" type="text/css" href="/assets/first.css">
        <script type="text/javascript" src="/assets/file.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="MyCtrl">
        <form ng-hide="for">
            <input type="text"/>
            <textarea ng-model="text" ng-trim="false" rows="10" cols="40" maxlength="40">
	</textarea>
            <br/>
            <span>{{40-text.length}} characters remaining</span>
            <br/>
            <input type="file" id="file" onchange="angular.element(this).scope().imageUpload(this)"/>
            <br/>
        </form>
        <div id="footer">
            <img ng-src="/assets/t.jpg" ng-click="visible=true;for=true;" height="30" width="30"/>
            <img ng-src="/assets/f.gif" ng-click="visible=true;for=true;" height="30" width="30"/>
        </div>
        <meta property="title" content="www.socialorra.com">
        <button type="button" onClick="data()"></button>
        <div id="preview" ng-show="visible">

            <br/>
            {{text}}
            <br/>
            <img height="200" width="200" ng-src="{{data}}"/>

        </div>

    </body>
</html>